.grid-frame-auto {
    height: calc(100vh - 120px)!important;
}
.content-auto-height {
    height: calc(100% - 1rem);
}
.fdpTable {
    margin-top: 10px;
    height: calc(100% - 40px); 
    width: calc(100% - 5px); 
    float: left;
}
:host  ::ng-deep fdp-header-banner .large-2 {
    display: none;
}
