
// content
  .content-header {
    width: auto;
    height: 100px;
    border: 1px solid #c3c3c3;
    background-color: #f2f3f5;
  }
  .content-body {
    width: auto;
    height: auto;
    border: 1px solid #c3c3c3;
  }

  .content-footer {
    width: auto;
    height: auto;
    border: 1px solid #c3c3c3;
  }

  .header-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }